<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Расчёт бюджета{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    

   
    <script src="{% block script %}{% endblock script %}"></script>
</head>
<body>
    <header>
        <h1>Расчёт бюджета</h1>
    </header>

    <main>
        {% block content %}{% endblock content %}
    </main>

    <footer>
        <h1>Расчёт бюджета</h1>
    </footer>
</body>
</html>
